html{
    background-color:#19212e;
    font-size:20px;
    line-height: 30px;
}
body{
    margin-right: 1%;
    color:#ecf2f8;
    font-family:'Ubuntu';
}
li{
    margin:15px;
}
h3{
    margin:15px;
}